.root {
    -fx-fill: white;
}

.alive-cell {
    -fx-background-color: #58907e;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.dead-cell {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}